# SUMMARY
This jupyter notebook performs ETL of the Citibike data from xxx Start date xxx to xxx End date xxx. 
The final dataframe is saved and loaded into a csv file for use in Tableau.

# Extraction and Transformation
Extract the saved CSV files (each CSV file has 1 month of data) and combine them into 1 pandas dataframe.

In [21]:
# Dependencies 
import pandas as pd
from os import listdir

# OPTION 1

In [2]:
# Read the csv files,concatenate them into 1 dataframe
citibikes_df = pd.concat(map(pd.read_csv,['RawData/JC-202101-citibike-tripdata.csv','RawData/JC-202102-citibike-tripdata.csv','RawData/JC-202103-citibike-tripdata.csv','RawData/JC-202104-citibike-tripdata.csv']))

In [3]:
citibikes_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

# OPTION 2 
- Import all csv files and concatenate
    - Import all csvs from folder 'RawData'
    - Concatenate all csvs

In [32]:
# Extract all csvs from folder RawData
filepaths = ['RawData/' + f for f in listdir("RawData") if f.endswith('.csv')]
filepaths
# Concatentate the csvs and save into a pandas dataframe
df = pd.concat(map(pd.read_csv,filepaths))
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4720,355,2021-02-28 23:28:40.4160,2021-02-28 23:34:35.7310,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42575,Subscriber,1987,1
4721,269,2021-02-28 23:30:50.3470,2021-02-28 23:35:20.2370,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,26469,Customer,1970,0
4722,193,2021-02-28 23:35:24.5920,2021-02-28 23:38:38.3930,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42575,Customer,1970,0
4723,2550,2021-02-28 23:39:43.4490,2021-03-01 00:22:13.4840,3267,Morris Canal,40.712419,-74.038526,3483,Montgomery St,40.719420,-74.050990,42277,Subscriber,1958,1
4724,358,2021-02-28 23:41:20.4330,2021-02-28 23:47:18.8140,3203,Hamilton Park,40.727596,-74.044247,3205,JC Medical Center,40.716540,-74.049638,44989,Customer,1970,0

# LOAD
Load to a 1 csv file 'citibikes_dataCombined.csv'

In [33]:
# Export csv file and save to Extract_and Transofrm folder
df.to_csv(r'Extract_and_Transform/citibikes_dataCombined.csv')